{%extends 'base.html'%}

{%block main_block%}

<div class="container mx-auto mt-10">
    <div class="sm:flex shadow-md my-10">
      <div class="  w-full  sm:w-3/4 bg-white px-10 py-10">
        <div class="flex justify-between border-b pb-8">
          <h1 class="font-semibold text-2xl">Shopping Cart</h1>
          <h2 class="font-semibold text-2xl">{{cart_item_count}} Items </h2>
        </div>
        

        {%for c in cart%}
        <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50">
            <div class="md:w-4/12 2xl:w-1/4 w-full">
              <img src="{{c.product_variant.product.image.url}}" alt="Black Leather Purse" class="w-full h-full object-center object-cover" />
            </div>
            <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
              <div class="flex items-center justify-between w-full">
                <p class="text-base font-black leading-none text-gray-800">{{c.product_variant.product.name}}</p>
              </div>
              <p class="text-xs leading-3 text-gray-600 pt-2">Storage: {{c.product_variant.storage}}</p>
              <p class="text-xs leading-3 text-gray-600 py-4">Color: {{c.color}}</p>
              <p class="w-96 text-xs leading-3 text-gray-600">Unit Prize: {{c.product_variant.price }}</p>
              <p class="w-96 text-xs leading-3 text-gray-600 pt-2">Quantity: {{c.quantity }}</p>
              <div class="flex items-center justify-between pt-5">
                <div class="flex itemms-center">

                  <!-- Add to Cart Button -->
                  <form action="{%url 'add-to-cart-wishlist'%}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="variant" value="{{ c.product_variant.id }}">
                      <input type="hidden" name="color" value="{{ c.color.id }}">
                      <input type="hidden" name="quantity" value="1">
                      <button 
                      name="action"
                      value="wishlist"
                      type="submit"
                      class="w-full flex justify-between items-center font-bold cursor-pointer text-gray-800 dark:text-gray-50">
                          <span class="text-xs leading-3 underline text-gray-800 cursor-pointer">Add to Wishlist</span>
                      </button>
                  </form>
          
                  <a href="{%url 'cart-item-delete' c.id%}" class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer">Remove</a>
                </div>
                <p class="text-base font-black leading-none text-gray-800">₹{{c.item_total}}</p>
              </div>
            </div>
        </div>
        {%endfor%}


        <a href="{%url 'index'%}" class="flex font-semibold text-indigo-600 text-sm mt-10">
          <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
            <path
              d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
          </svg>
          Continue Shopping
        </a>
      </div>
      <div id="summary" class=" w-full   sm:w-1/4   md:w-1/2     px-8 py-10">
        <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
        <div class="flex justify-between mt-10 mb-5">
          <span class="font-semibold text-sm uppercase">Items : {{cart_item_count}}</span>
          <span class="font-semibold text-sm">₹{{basket_total}}</span>
        </div>
        <div>
          <label class="font-medium inline-block mb-3 text-sm uppercase">
                Shipping
              </label>
          <select class="block p-2 text-gray-600 w-full text-sm">
                <option>Standard shipping - ₹50.00</option>
              </select>
        </div>
        <div class="py-10">
          <label
                for="promo"
                class="font-semibold inline-block mb-3 text-sm uppercase"
              >
                Promo Code
              </label>
          <input
                type="text"
                id="promo"
                placeholder="Enter your code"
                class="p-2 text-sm w-full"
              />
        </div>
        <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase">
              Apply
            </button>
        <div class="border-t mt-8">
          <div class="flex font-semibold justify-between py-6 text-sm uppercase">
            <span>Total cost</span>
            <span>₹{{basket_total}}</span>
          </div>
          <a href="{%url 'order-create'%}">
            <button class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">
                Checkout
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

{%endblock%}